/*CSS MENÚ*/
#navbarNav ul li{
  display: block;
  font-variant: small-caps;
  font-size: larger;
}
#navbarNav ul li a:hover{
  background-color: #42B881;    
  color: white;
}

#menu span {
  position: fixed;
  display: block;
  margin: 0;
  padding: 12px;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: black;
  text-align: right;
}
#menu ul li span {
  text-align: left;
}
#menu ul li {
  display: inline-block;
}
#menu ul li a {
  color: white;
  display: block;
  padding: 15px;
  text-decoration: none;
}
#menu ul li a:hover{
  background-color: #42B881;
}

#content {
  margin-top: 5rem;
}

/*CSS DISEÑO PRINCIPAL*/
.boxnametag {
  margin-top: 7.5rem!important;
}
.nametag{
  background-color: blue;
  color: white;
  border-radius: 35%;
  cursor: no-drop;
}
.line-hr{
  margin-top: 6.8rem!important;
} 
.contenido {
  margin-top: 8rem !important;
}

.btnadd{
  border-radius: 2rem;
  height: 36px;
  width: 36px;
}
.btnadd i{
  margin-left: -2px;
}

.title{
  margin-left: 5%;
}

.informacion {
  position: absolute;
  margin-top: 1.2rem;
  margin-left: -1.5rem;
}